
*.plist

*.pbxproj

*.xcworkspacedata

*.xcuserstate

*.xcbkptlist

*.xcscheme

Calculator2/Calculator/Calculator/AppDelegate.swift

Calculator2/Calculator/Calculator/Assets.xcassets/AppIcon.appiconset/Contents.json

Calculator2/Calculator/Calculator/Base.lproj/LaunchScreen.storyboard

Calculator2/Calculator/CalculatorTests/CalculatorTests.swift

Calculator2/Calculator/CalculatorUITests/CalculatorUITests.swift

Calculator2/TestStuff/TestButton/TestButton/AppDelegate.swift

Calculator2/TestStuff/TestButton/TestButton/Assets.xcassets/AppIcon.appiconset/Contents.json

Calculator2/TestStuff/TestButton/TestButton/Base.lproj/LaunchScreen.storyboard

Calculator2/TestStuff/TestButton/TestButton/Base.lproj/Main.storyboard

Calculator2/TestStuff/TestButton/TestButton/ViewController.swift

Calculator2/TestStuff/TestButton/TestButtonTests/TestButtonTests.swift

Calculator2/TestStuff/TestButton/TestButtonUITests/TestButtonUITests.swift
